

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}


 body{
   background-image: url("door_key.jpeg");
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: Helvetica;
   color: RGBA(77, 77, 77, 1.00);
   margin-bottom: 30px;
   height: 100%;
 }

 button{
   padding: 5px 16px;
   margin: 10px;
   font-size: 14px;
   background-color: #98C06D;
   border-radius: 5px;
   position: relative;
   display: inline-block;
   color: white;
   text-decoration: none;
 }

 button.add{
   padding: 8px 20px;
   margin: 10px;
   font-size: 18px;
   background-color: RGBA(77, 77, 77, .8);
   border-radius: 5px;
   position: relative;
   display: inline-block;
   color: white;
 }

 button:hover{
  background-color: RGBA(126, 170, 97, 1.00);
 }

 button.add:hover{
   background-color: RGBA(77, 77, 77, 1.00);
 }


 button > a{
   text-decoration: none;
   color: white;
   font-weight: bold;
 }

 .holder{
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
 }

.box{
  background-color: rgba(255, 255, 255, .6);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin: 10px;
}

div.body{
  width:450px;
  min-height:10%;
  padding: 10px;
  background-color: rgba(255, 255, 255, .8);
  display:table-cell;
  display:flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-content:center;
  position:relative;
  overflow: visible;
}

footer{
   position:fixed;
   height:40px;
   background-color: RGBA(77, 77, 77, 1.0);
   bottom:0px;
   left:0px;
   right:0px;
   margin-bottom:0px;
   display: flex;
   align-items: center;
   color: white;
   padding-left: 20px;
}

nav {
  float: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
  width: 80%;
  background: RGBA(77, 77, 77, .8);
}

nav > a {
color: white;
text-decoration: none;
font-size: 18px;
padding: 4px 20px 4px 20px;
border: 6px solid transparent;
}

nav > a:hover{
 background: RGBA(77, 77, 77, 1.00);
}

img.logo{
  margin-top: 20px;
  max-height: 100px;
  transition: all .5s ease-in-out;
}

img.logo:hover{
  transform: scale(1.1);
}
.top{
  text-align: center;
}
